{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sakshi-Aafiya-Hasti- Curriculum Vitae</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
   <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="{% static 'images/headshot.jpg' %}" alt="Alan Smith" />
            </div>



            <div id="name">

                <h1 class="quickFade delayTwo">Sakshi-Aafiya-Hasti Bloggs</h1>

                <h2 class="quickFade delayThree">JOB TITLE</h2>

            </div>



            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: <a href="mailto:joe@bloggs.com" target="_blank">sah@bloggs.com</a></li>
                    <!-- <li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>
 -->                    <li>m: 01234567890</li>
                </ul>
            </div>
            <div class="clear"></div>

        </div>


        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>


                    <div class="sectionContent">
                        <p>Address: 9 Wall sc, New Road , Ghatkopar
                        </p>
                    </div>

                </article>

                <div class="clear"></div>

            </section>


            <section>

                <div class="sectionTitle">

                    <h1>
                        Work Experience
                    </h1>

                </div>



                <div class="sectionContent">

                    <article>

                        <h2>SENIOR WEB DEVELOPER</h2>

                        <p class="subDetails">September 2013 - Present</p>

                        <p> Structure several internal systems comprising order entry/management tools, conversion/revenue reporting and production workflow tracking as well as design custom REST APIs built in Pthon, Laravel and NodeJs</p>
                    </article>



                    <article>

                        <h2>SENIOR PROGRAMMER </h2>

                        <p class="subDetails">June 2010- August 2013</p>

                        <p> Successfully generated back-end programming utilizing LAMP stack; Linux, PHP5 , CSS, Javascript/jQuery and MySQL frameworks</p>

                    </article>


                </div>

                <div class="clear"></div>

            </section>





            <section>

                <div class="sectionTitle">

                    <h1>Key Skills</h1>

                </div>



                <div class="sectionContent">

                    <ul class="keySkills">

                        <li>ReactjS</li>

                        <li>Bash /Shell</li>

                        <li>Mcrosoft Windows Server</li>

                        <li>Laravel PHP</li>

                        <li>Linux operating system</li>

                        <li>MySQL/MaraiaDB</li>

                    </ul>

                </div>

                <div class="clear"></div>

            </section>





            <section>

                <div class="sectionTitle">

                    <h1>Education</h1>

                </div>



                <div class="sectionContent">

                    <article>

                        <h2>College/University</h2>

                        <p class="subDetails">Qualification</p>

                        <p>COMPUTER ENGINEERING from K . J .Somaiya College of ENGINEERING from YEAR 2010</p>

                    </article>

                </div>

                <div class="clear"></div>

            </section>



        </div>

    </div>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");

        pageTracker._initData();

        pageTracker._trackPageview();
    </script>

</body>

</html>
