{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sakshi-Aafiya-Hasti Resume Builder</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="padding:20px;">
    <h1 class="mt-2" style="text-align:center;font-weight:bolder;color:steelblue;">Welcome to SAH Resume Builder!!!</h1>
    <hr class="mt-0 mb-4">
<!--     <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='Submit'>Submit</button>
        
    </form> -->
    {% crispy form form.helper %}

</body>

</html>
